body {
    margin: 0;
    font-family: Arial;
    background: #f5f5dc;
}

.container {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    background: #2575fc;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a5fd0;
}